[submodule "deps/ledger-zxlib"]
	path = deps/ledger-zxlib
	url = https://github.com/Zondax/ledger-zxlib.git
[submodule "deps/ledger-secure-sdk"]
	path = deps/ledger-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk