name: Build
on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - main
      - develop
      - master
      - dev

jobs:
  ledger-build:
    uses: Zondax/_workflows/.github/workflows/_ledger_main.yml@v3
    with:
      runs-on: ${{ github.repository_owner == 'zondax' && 'zondax-runners' || 'ubuntu-latest' }}
      has-rust: false
      has-nanos: false
      node-version: '22'